<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>Twitter Stream Sentiment Analysis</title>
    <link rel='stylesheet' href='/css/index.css'/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.tagsinput.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">

    

</head>
<body id="page-top">

<header class="bg-danger text-white">
    <div class="container text-center">
        <h1>CAB432 ASSIGNMENT2 </h1>
        <p class="lead">Twitter Stream</p>
    </div>
</header>

<section id="search">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="container text-center">
                    <h5>Type keyword.</h5>
                </div>
                <div class="input-group" id="adv-search">
                    <span class="input-group-addon fa fa-search" id="search-addon"></span>
                    <input class="form-control" id="tweetInputText" placeholder=""/>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="visualisation" class="bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card text-center text-dark">
                    <div class="card-header">
                        <b>LINE CHART</b>
                    </div>
                    <div class="card-body">
                        <canvas id="chartSentiment"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-12 margin-top-L">
                <div class="card text-center text-dark">
                    <div class="card-header">
                        <b>BAR CHART</b>
                    </div>
                    <div class="card-body">
                        <canvas id="chartTopic"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <!-- Overall Total Tweets -->
                <div class="card text-center text-dark">
                    <div class="card-header" id="totalTweetCount">
                        Total Tweets: <b style="color: #8b00e8">0</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <!-- Overall Positive Tweets -->
                <div class="card text-center text-dark">
                    <div class="card-header" id="positiveTweetCount">
                        Positive Tweets: <b style="color: #58e0f8">0</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <!-- Overall Neutral Tweets -->
                <div class="card text-center text-dark">
                    <div class="card-header" id="neutralTweetCount">
                        Neutral Tweets: <b style="color: #bbff00">0</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <!-- Overall Negative Tweets -->
                <div class="card text-center text-dark">
                    <div class="card-header" id="negativeTweetCount">
                        Negative Tweets: <b style="color: #ff00d4">0</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <!-- Overall Sentiment Status -->
                <div class="card text-center text-dark">
                    <div class="card-header" id="overallSentiment">
                        <b>Overall Sentiment: </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tweet" class="bg-success text-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-white">
                <div class="container text-center">
                    <h5>USER ACTIVITIES</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card text-dark">
                    <div class="card-body">
                        <div class="row" id="tweetTiles">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Doan Duc Anh ___ Nguyen Tien Khai</p>
    </div>
</footer>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/jquery-ui/jquery-ui.min.js"></script>

<script src="/js/index.js"></script>
<script src="/js/jquery.tagsinput.js"></script>

</body>
</html>
