/* Web page overview */
header {
    padding: 80px 0 20px;
}

@media (min-width: 992px) {
    header {
        padding: 80px 0 20px;
    }
}

section {
    padding: 30px 0;
}

/* Search section */
#search {
    padding: 20px 0;
}

/* Search section: Search query bar */
#adv-search span {
    background-color: transparent;
}

#adv-search input {
    border-left: 0;
}

#adv-search {
    width: auto;
    margin-bottom: 10px;
}

/* Tweet section: Tweet Cards */
div.card {
    margin-bottom: 10px;
}

#tweetTiles {
    height: 450px;
    overflow-y: scroll;
    width:100%;
}

.margin-top-L {
    margin-top: 1rem;
}

.text-right {
    text-align: right;
}